<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd"
>
    <router id="standard">
        <route id="maksymz_controllerdemos" frontName="maksymz-controller-demos">
            <module name="MaksymZ_ControllerDemos"/>
        </route>
    </router>
</config>
